<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela - login</title>
</head>
<body>
        <h1>Entrar no Sistema</h1>

<form action="/auth/login" method="post">
    Nome: <input type="text" name="nome" required>
    <br><br>
    Email: <input type="email" name="email" required>
    <br><br>
    Senha: <input type="password" name="senha">
    <br><br>
    <button type="submit">Entrar</button>
</form>

<p>Não tem conta? <a href="/auth/login"><Cadastra-se></Cadastra-se></a></p>
</body>
</html>